<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Guardaralumno</servlet-name>
        <servlet-class>Guardaralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarAlumnos</servlet-name>
        <servlet-class>ConsultarAlumnos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borraralumno</servlet-name>
        <servlet-class>Borraralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editaralumno</servlet-name>
        <servlet-class>Editaralumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editar2</servlet-name>
        <servlet-class>editar2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Guardaralumno</servlet-name>
        <url-pattern>/Guardaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarAlumnos</servlet-name>
        <url-pattern>/ConsultarAlumnos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borraralumno</servlet-name>
        <url-pattern>/Borraralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editaralumno</servlet-name>
        <url-pattern>/Editaralumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editar2</servlet-name>
        <url-pattern>/editar2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
